/* Estilos globales */
body {margin: 0px;}
td  {color: #000000;
     font-size: 12px}
a  {color: #FF6600;
    font-weight: bold}
a:hover {color: #3366CC}

/* Carrusel*/
.slider-container {
    display: flex;
    width: 100%;
    height: auto;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}
.slider-container imag {
    flex: 0 0 100%;
    width: 100%;
    object-fit: cover;
    scroll-snap-align: center;
}
