body{
    width:700px;
    border:3px solid black;
}

.cuadrado{
    border:2px solid black;
    text-align:center;
}

header{
    height:130px;
}

header img{
    float:left;
    width:120px;
    height:100px;
    padding:10px 5px 10px 0px;
}

header address{
    position: relative;
    text-align: center;
    float: left;
    left: 100px;
}

header div{
    float:right;
    width:240px;
}

header div#titulo{
    font-family:monospace;
    font-size:18pt;
    font-weight:bolder;
    padding:12px 0px 12px 0px;
}

header table{
    width:225px;
    border-spacing:3px;
}

#container{
    clear:both;
    margin-top:10px;
}

.cajulo{
    border:2px solid black;
    border-radius: 20px;
    margin:12px 8px 12px 8px;
}

h2, h6{
    text-align:center;
}

article#clatos div{
    padding:0px 0px 10px 10px;
}

article#clatos table{
    border-spacing:6px;
}

article table td{
    padding: 0px 10px 0px 10px;
}

article#factura div{
    padding: 0px 12px 20px 12px
}

article#factura table{
    border-spacing:0px;
}

article#factura table#articulos{
    width:99%;
}

article#factura table#precio{
    position: relative;
    left: 438px;
}

article#factura table td{
    border:2px solid black;
}

article#factura table#articulos tr#titulos td{
    border:none;
    font-weight:bold;
    text-align:center;
}

.dinero{
    text-align:center;
}

footer div{
    padding:0px 10px 20px 20px;
}

footer div#tpago{
    width:45%;
    float:left;
}

footer div#banco{
    float:right;
    width:45%;
}

footer p{
    clear:both;
}